--markup markdown
--markup-provider kramdown
--output-dir docs
--exclude spec/
--exclude vendor/
--main README.md
--protected
--private
--title "Whodunit API Documentation"
--readme README.md
--files CHANGELOG.md,CHANGELOG.md,LICENSE
lib/**/*.rb
-
README.md
CHANGELOG.md
LICENSE
